<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form method="post" action="<%=viewData.url%>">
        <input type="hidden" name="token_ws" value="<%=viewData.token%>" />
        <input type="submit" value="Ir a pagar" />
    </form>
</body>
</html>