
 <footer class="site-footer bg-dark text-white">
    <br>
    <div class="container  ">
      <div class="row md-5">
        <div class="col-xl-4 col-lg-5 md-5 ">
          <br>
          <h2 id="Notaria-titulo">Notaria Abuyeres</h2>
          <hr>
          <p>Notaría Abuyeres está ubicada en el centro de Quillota, a una cuadra de la Plaza de Armas, en calle Pudeto nº 398 esquina San Martín.</p>
          <p>Contamos con firma electronica avanzada !!!</p>
          <p> <a href=""></a></p>

        </div>
        <div class="col-xl-4 col-lg-5 md-5 ">
          <br>
          <h2 id="Notaria-titulo">Contáctanos </h2>
          <hr>
          <ul class="list-unstyled footer-link">
            <li class="d-flex">
              <span class="m-3">Dirección: Calle Pudeto N°542</span>                          
            </li>
            <li class="d-flex">
              <samp class="m-3">Teléfonos: 33-260579 33-260910</samp>
              <samp></samp>
            </li>
            <li class="d-flex">
              <samp class="m-3">Email:</samp>
              <samp>meson@notariajulioabuyeres.cl notaria@notariajulioabuyeres.cl</samp>
            </li>
          </ul>
        </div>

        <div class="col-xl-4 col-lg-5 ">
          <br>
          <h2 id="Notaria-titulo">Links de Interés</h2>
          <hr>
          <ul class="list-unstyled footer-link ">
            <li class="p-1">
              <a href="https://www.pjud.cl"> <img id="links-logo" src="/img/Pod-judicial.png" alt=""></a>
              <a id="links-a" href="https://www.pjud.cl">Poder Judicial</a>
            </li>
            <li class="p-1">            
              <a href="https://homer.sii.cl//"> <img id="links-logo" src="/img/SII.png" alt=""></a>
              <a id="links-a" href="https://homer.sii.cl//">Servicios de Inpuesto Interno</a>
            </li>
            <li class="p-1">
              <a href="https://www.conservadorquillota.cl/index.php"> <img id="links-logo" src="/img/CBR.png" alt=""></a>
              <a id="links-a" href="https://homer.sii.cl//">Conservador de Bienes Raices</a>
            </li>
            <li class="p-1">
              <a href="https://www.registrocivil.cl"> <img id="links-logo" src="/img/reg-civil.png" alt=""></a>
              <a id="links-a" href="https://www.registrocivil.cl">Registro Civil</a>
            </li>
            <li class="p-1">
              <a href="https://portales.bancochile.cl/personas"> <img id="links-logo" src="/img/Banco-chi.png" alt=""></a>
              <a id="links-a" href="https://portales.bancochile.cl/personas">Banco de Chile</a>
            </li>
          </ul>


        </div>

      </div>

    </div>


  </footer>