<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notaria Abuyeres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="shortcut icon" href="/img/logo-notaria.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="jspdf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>

</head>
    <nav id="sombra-menu" class="navbar navbar-expand-md navbar-dark bg-dark ">
        <div class="container-fluid">
            <img id="logo" src="/img/logo-notaria.png" alt="">                   
            <a class="navbar-brand " href="/"><h2 id="Notaria-titulo">Notaria</h2></a>
            <a class="navbar-brand " href="/"><h2>Abuyeres</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">
                <ul class="navbar-nav">
                <br>
                <li class="nav-item">
                    <a id="Menu-a" class="nav-link p-2" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a id="Menu-a" class="nav-link p-2" href="#Servicios">Servicios </a>
                </li>
                <li class="nav-item">
                    <a id="Menu-a" class="nav-link p-2" href="#">Registrarse</a>
                </li>
                <li class="nav-item">
                    <a id="Menu-a" class="nav-link p-2" href="#" >Iniciar Sesión</a>
                </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>
    
